;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Sat Aug 19 15:30:52 2000
;; Emacs version 21.1 (patch 3) "Acadia" XEmacs Lucid

;; Global section:
(setq desktop-missing-file-warning t)
(setq tags-file-name nil)
(setq search-ring '("Tabl" "gaisser" "CORSIKA" "magic" "magicac" "mcsim" "finish" "MCsim" "simpro" "Table" "float" "section" "options" "c " ".a" "particl"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section:
(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ch-ghsep.tex"
  "ch-ghsep.tex"
  'latex-mode
  '(nil)
  504
  '(501 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ch-iacts.tex"
  "ch-iacts.tex"
  'latex-mode
  '(nil)
  730
  '(708 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ch-imageana.tex"
  "ch-imageana.tex"
  'latex-mode
  '(nil)
  643
  '(585 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/common/equation.tex"
  "equation.tex"
  'latex-mode
  '(nil)
  5612
  '(5354 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/.emacs"
  ".emacs"
  'emacs-lisp-mode
  '(nil)
  28945
  '(nil nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ch-resol.tex"
  "ch-resol.tex"
  'latex-mode
  '(nil)
  598
  '(598 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/post-scriptum.tex"
  "post-scriptum.tex"
  'latex-mode
  '(nil)
  753
  '(592 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ch-cosmicrad.tex"
  "ch-cosmicrad.tex"
  'latex-mode
  '(nil)
  1227
  '(552 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ch-atmshowers.tex"
  "ch-atmshowers.tex"
  'latex-mode
  '(nil)
  10253
  '(5904 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ch-simct1.tex"
  "ch-simct1.tex"
  'latex-mode
  '(nil)
  650
  '(667 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ap-image.tex"
  "ap-image.tex"
  'latex-mode
  '(nil)
  138
  '(nil nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ch-conclusions.tex"
  "ch-conclusions.tex"
  'latex-mode
  '(nil)
  576
  '(nil nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ch-mkn501.tex"
  "ch-mkn501.tex"
  'latex-mode
  '(nil)
  387
  '(656 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/common/magic.bib"
  "magic.bib"
  'bibtex-mode
  '(nil)
  240
  '(1 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/allch.tex"
  "allch.tex"
  'latex-mode
  '(nil)
  1512
  '(546 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/common/figures.tex"
  "figures.tex"
  'latex-mode
  '(nil)
  8775
  '(8774 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ch-magic.tex"
  "ch-magic.tex"
  'latex-mode
  '(nil)
  12188
  '(10935 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/common/tesis.bib"
  "tesis.bib"
  'bibtex-mode
  '(nil)
  5906
  '(1 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ch-simshowers.tex"
  "ch-simshowers.tex"
  'latex-mode
  '(nil)
  5936
  '(6816 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

(desktop-create-buffer 205
  "/home/gonzalez/tesis/eng/ch-simmagic.tex"
  "ch-simmagic.tex"
  'latex-mode
  '(nil)
  1156
  '(1146 nil)
  nil
  nil
  '((overwrite-mode) (fill-column . 70) (case-fold-search . t) (truncate-lines)))

